Yaron's review

- [x] Sec. 2: some terms are capitalized, some aren't.
- [x] NSPE: I would add "applications", e.g. operating systems, applications and general hardware.
- [x] Add the term "target environment".
- [x] Sec. 3: even though we just said the terms are equivalent, I suggest adding "PSA Attestation Token" into the figures for clarity.
- [x] In the paragraph that explains "Initial", can we add something about what happens after this initial phase?

> Simon's proposal [158192](https://github.com/thomas-fossati/draft-psa-token/pull/129/commits/158192e44afaaacf1fac75c205bf850e4dadbbe9)

- [x] Fig. 2 adds 3 new acronyms but doesn't add any clarity. Suggest to drop it.

> Or expand the acronyms in the figures.

- [x] Sec. 4 doesn't provide much context, and I personally would have preferred a top-down approach (first sec. 5, then sec. 4). Otherwise, I suggest to add something like: "The PSA attestation token is a profiled EAT token (see Sec. 5 for details about the profile). The main addition is the PSA-specific claims described in this section."
- [x] 4.2.1: 32-byte key hash - looks like we don't have any crypto agility for the key hash. Do we at least have a version number to allow for new future algorithms?

> This is an implementation detail that leaked through.  We should instead refer to the PSA attestation API doc.

- [x] 4.2.3: Missing "This claim MAY be present in a PSA attestation token."
- [x] General: is there a self-contained way to identify a PSA and distinguish it from other EATs? From other CWTs? I am thinking of token substitution attacks that led to the "typ" construct, Do we need to refer to https://datatracker.ietf.org/doc/html/draft-ietf-cose-typ-header-parameter-01?

> The mandatory `eat_profile` claim serves that purpose.

- [x] 4.3.1: I am not familiar with IOT device lifecycles, but I would expect there can be intermediate states where the device is not available for measurements, i.e. a version upgrade taking several minutes (and which cannot be seen as "debug"). I'm not seeing anything like that in the state machine.

> The model assumes that each upgrade goes through a reboot: the newly downloaded image cannot be "live" installed.  From the point of view of the attestation machinery, they are two different boot epochs, i.e. two instances of one of the "operative" security states (i.e., secured / debug).

- [x] 4.4.1: (this may be my misunderstanding of CDDL) does this definition ensure that no claim is repeated more than once within the SW component, e.g. multiple "signer-id" within a "psa-software-components-key"? (See also related comment to 5.1.3 below).

> Under the `psa-software-components-key` there can be multiple instances of `psa-software-component`.  Then the CDDL ensures that only one instance of signer-id exists within each `psa-software-component`.

- [x] 4.4.1.4: the Signer ID is usually the hash of a public key. But it doesn't have to be one, it's NOT the hash algorithm described in "Measurement Description" and I don't think anybody is using the fact that it's a hash. So maybe say that it is "typically a hash". Otherwise, we need to say something about which hash algorithm is being used.
- [x] 4.6: please include a document reference if one exists.
- [x] Also, I presume the profile string (Profile Definition) was also changed, in addition to the 3 changes listed.

> No, the old profile didn't use the `eat_profile` claim to carry the identification string: at that time, EAT's early assignments were not yet complete.

- [x] 5: The distinction between Baseline Profile and TF-M is very confusing, since there is no profile string defined for Baseline and on the other hand, 4.5.2 mandates the TF-M string. If you meant "baseline for all future PSA profiles" rather than a concrete "baseline profile", please spell it out in the title of Sec. 5.1.

> Added refs to [§6.2 of EAT](https://www.ietf.org/archive/id/draft-ietf-rats-eat-24.html#section-6.2) to clarify the context.

- [x] 5.1.3: When specifying the CBOR encoding/decoding, I think you should say that decoded CBOR MUST be verified to be valid (in the sense of RFC 8949, Sec. 5.3). In particular, that duplicate keys are rejected. But I'm not sure how to phrase it in CBOR terminology. I haven't been able to find such a statement in the EAT draft, and the CWT RFC only says that the CWT validator needs to ensure that the CWT is "valid CBOR" without saying what this means.

> To me, the statement _"The PSA attestation token is encoded in CBOR [RFC8949] format"_ implies the CBOR encoding must be _valid_.  Re: duplicate keys.  [§3.1 of CBOR](https://www.rfc-editor.org/rfc/rfc8949.html#section-3.1) clearly states that _"A map that has duplicate keys may be well-formed, but it is not valid, and thus it causes indeterminate decoding."_, so that too is subsumed under _"CBOR encoded"_.

- [x] 5.2: Yuck, claim-based key identification comes with a security issue waiting to happen: "This has the disadvantage that the unverified EAT must be substantially decoded to obtain the identifier since the identifier is in the COSE/JOSE payload, not in the headers."

> I agree that, in general, processing a claim before validating its cryptographic integrity is a security risk. And that's true irrespective of whether the claims are in the payload or in the protected header.  In this case though, the claim is used to lookup the key material used for the cryptographic verification, so a successful signature verification implicitly verifies the integrity of the claim.  So, it sort of clears itself automatically.  From an implementer perspective, the layering violation makes processing slightly more clumsy than needed: one needs to first decode the COSE payload to be able to verify the COSE envelope, which is a bit weird but not that horrible in practice :-)

- [x] Also, the table says "Claim-Based Key Identification using Implementation ID and Instance ID" but the claim definitions is Sec. 4 state that only Instance ID is the key identifier. And then at the top of Sec. 10 we also mention "kid" as part of the key's index. Please be consistent.
- [x] 7: "Sensibly"?
- [x] It sounds like some COSE header parameters need to be part of the "baseline profile": x5bag, x5chain, x5t, x5u.

> I think we are already covered: the baseline references the whole F.1, which includes RFC9360-based methods (i.e., F.1.2)

- [x] 8: Typically Implementation Status sections (which are only accurate at the time of publication) are removed by the RFC Editor. I suggest to add a comment to this effect.
- [x] 9: The attack described in the third paragraph is hard to understand without context. Maybe add "attestation tokens are often used to authenticate the attester". And by the way, there's still time to add this scenario as a security consideration in the EAT draft.
- [x] 10: please move this section before "security and privacy considerations" for consistency with other IETF documents.
- [x] First paragraph: "If the IAK is a certified public key" - please add "and MUST check revocation".
- [x] 10.1: I looked at the AR4SI draft and noticed that Sec. 2.2.1 there has two references to the current draft. The first of them is really weird, and may be referring to the whole PSA architecture rather than the PSA attestation token - but doesn't say so.

> Yes, it's describing Arm's "SPE", but the term "memory encryption" does not apply as memory protection is obtained architecturally rather than algorithmically.  Thanks for spotting it, I will raise an issue.

- [x] A.1: the Measurement Type attribute is a SHOULD so I would expect to see it in the examples (it also adds context to the SW component being measured).

Quoting from the draft:

> The Initial Attestation Service (executing at run-time in SPE) answers requests coming from NSPE via the PSA attestation API [[PSA-API](https://www.ietf.org/archive/id/draft-tschofenig-rats-psa-token-20.html#PSA-API)], collects and formats the claims from Main Boot State, and uses the Initial Attestation Key (IAK) to sign them and produce Evidence. See [Figure 3](https://www.ietf.org/archive/id/draft-tschofenig-rats-psa-token-20.html#fig-psa-attester-runtime).

> The word "Initial" in "Initial Attestation Service" refers to a limited set of target environments, namely those representing the first, foundational stages establishing the chain of trust of a PSA device.

Which raises questions about what happens afterwords: are the Initial Attestation Service's responses cached and reused? Are they never needed again because once we have a trusted OS booted it is able to certify itself somehow? Maybe the problem is the word "initial" which implies temporal order, and it really needs to be "foundational" or "low level".

---

Fig. 2: my subtext is that loops within sequence diagrams are very non-intuituve.

---

I'm surprised the model is making assumptions ("no live upgrade") the the system's behavior. Live upgrades are a thing, and I suggest to accommodate them.

---

I think it is well worth mentioning that the CBOR MUST be valid. The mere fact that the CBOR doc talks about "well formed" vs. "valid" CBOR is proof enough that implementers need to be told that validity is a requirement.

---

It looks like you didn't address some 7 of my comments (at the bottom of the GH comment block). OTOH I distinctly remember you responded to my comment about the AR4SI draft, so now I'm confused.

> Quoting from the draft:
> 
> > The Initial Attestation Service (executing at run-time in SPE) answers requests coming from NSPE via the PSA attestation API [[PSA-API](https://www.ietf.org/archive/id/draft-tschofenig-rats-psa-token-20.html#PSA-API)], collects and formats the claims from Main Boot State, and uses the Initial Attestation Key (IAK) to sign them and produce Evidence. See [Figure 3](https://www.ietf.org/archive/id/draft-tschofenig-rats-psa-token-20.html#fig-psa-attester-runtime).
> 
> > The word "Initial" in "Initial Attestation Service" refers to a limited set of target environments, namely those representing the first, foundational stages establishing the chain of trust of a PSA device.
> 
> Which raises questions about what happens afterwords: are the Initial Attestation Service's responses cached and reused?

The idea is it can be used within a “freshness session.”
What a “freshness session” entails is user-defined.
It could be a challenge-response transaction initiated by an external verifier/RP.
It could be a “secure service chaining” session initiated by a cooperating ARoT service (e.g., a key attestation service that builds atop the platform attestation service).
If the former, the PSA token is one shot.
In the latter, the same PSA token can be reused across multiple instances of the key attestation protocol.
(However, I have a feeling this is not what you are trying to point out.)

> Are they never needed again because once we have a trusted OS booted it is able to certify itself somehow?

It is not entirely clear what do you mean by “trusted OS”?
a) An OS that runs in SPE? Or,
b) an (NSPE) OS that has been booted via a secure and measured boot sequence?
Irrespective though, the PSA token provides the device’s chain-of-trust “freshly” signed, with “freshly” potentially meaning something different depending on the scope of the session — as described previously.

> Maybe the problem is the word "initial" which implies temporal order, and it really needs to be "foundational" or "low level".

Yes, it means “foundational”, i.e., the first fundamental stages of the device’s CoT.

> Fig. 2: my subtext is that loops within sequence diagrams are very non-intuituve.

Ah!  Would you treat the Target Environment as a single unit instead of explicitly showing it’s an aggregate of multiple independent pieces?
 
> I'm surprised the model is making assumptions ("no live upgrade") the the system's behavior. Live upgrades are a thing, and I suggest to accommodate them.

PSA targets simple, purpose-built IoT devices (Arm Cortex-M gizmo).  There is no need to “live” update these kinds of things.
 
> I think it is well worth mentioning that the CBOR MUST be valid. The mere fact that the CBOR doc talks about "well formed" vs. "valid" CBOR is proof enough that implementers need to be told that validity is a requirement.

Got it

> Wow, the Baseline "supports" all of EAT Appendix F.1, including the exotic (at least to me) CBOR certificates.

Yep

> Can you really achieve interoperability with such optionality?

No, you can’t.  The baseline is a “partial” profile (using EAT parlance), it’s not usable as-is.  One can make the analogy with an abstract base class with pure virtual methods that “full profile” (e.g., TFM) need to instantiate.



> > Fig. 2: my subtext is that loops within sequence diagrams are very non-intuituve.

> Ah! Would you treat the Target Environment as a single unit instead of explicitly showing it’s an aggregate of multiple independent pieces?

No, let's keep it as-is.

Otherwise, we are in agreement (including the need to add CBOR "validity").

> Otherwise, we are in agreement (including the need to add CBOR "validity").

See https://github.com/thomas-fossati/draft-psa-token/pull/129/commits/e96dad0a6abd5cc1a1a95c20f00b9ee661bc721a
